<nav>
  <link rel="stylesheet" href="/styles/reuse/navigation.css" />

  <div id="nav-menu">
    <nav class="top-bar grid">
      <div class="left-panel">
        <div>
          <a class="code-by">Code by Roger</a>
        </div>
      </div>

      <div class="mid-gap-border"></div>

      <div class="right-panel">
        <div>
          <ul class="laptop__mini-nav">
            <a>Home</a>
            <a>About</a>
            <a>Work</a>
          </ul>

          <div class="menu-btn">
            <div class="menu-icon"></div>
            <input type="checkbox" id="menu-input" />
          </div>
        </div>
      </div>
    </nav>

    <div class="menu-content">
      <div class="left grid-2">
        <div class="grid-2">
          <a class="page-button">
            <p>01</p>
            <h1>Home</h1>
            <div></div>

            <div class="hovered-color"></div>
          </a>
        </div>
      </div>

      <div class="right grid-2">
        <div class="developer">
          <span>Designer and Developer</span>
          <p>Future Entrepreneur</p>
        </div>

        <div class="gray-logo">
          <h5 class="pixel">Designer and Developer</h5>
          <h5>Future Entrepreneur</h5>
        </div>

        <div class="image-container"></div>

        <footer>
          <div class="links">
            <p>Links</p>

            <ul>
              <a>Imprint</a>
              <a>Colphon</a>
              <a>Privacy</a>
              <a>Contact</a>
            </ul>
          </div>

          <ul class="socials">
            <a></a>

            <a></a>

            <a></a>
          </ul>
        </footer>
      </div>
    </div>
  </div>

  <script src="/javascript/reuse/navigation.js"></script>
</nav>
