<nav>
  <link rel="stylesheet" href="/styles/reuse/navigation.css" />

  <div id="navigation-menu">
    <nav class="top-bar">
      <div class="left">
        <div class="grid-2">
          <div class="code-by">
            <a>RR</a>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="grid-2">
          <ul class="laptop__mini-nav">
            <a>Home</a>
            <a>About</a>
            <a>Work</a>
          </ul>

          <div class="menu-btn">
            <div class="menu-icon">
              <div></div>
              <div></div>
            </div>

            <input type="checkbox" id="menu-input" />
          </div>
        </div>
      </div>
    </nav>

    <div class="menu-content grid">
      <div class="panel-left">
        <a class="page-button">
          <p>01</p>
          <h1>Home</h1>
          <div></div>

          <div class="hovered-color"></div>
        </a>
      </div>

      <div class="panel-right">
        <div class="developer">
          <span>Designer and Developer</span>
          <p>Future Entrepreneur</p>
        </div>

        <div class="gray-logo">
          <h5 class="pixel">Designer and Developer</h5>
          <h5>Future Entrepreneur</h5>
        </div>

        <div class="image-container"></div>

        <footer>
          <div class="links">
            <p>Links</p>

            <ul>
              <a>Imprint</a>
              <a>Colphon</a>
              <a>Privacy</a>
              <a>Contact</a>
            </ul>
          </div>

          <ul class="socials">
            <a></a>

            <a></a>

            <a></a>
          </ul>
        </footer>
      </div>
    </div>
  </div>

  <script src="/javascript/reuse/navigation.js"></script>
</nav>
