<nav>
  <link rel="stylesheet" href="/styles/reuse/navigation.css" />

  <div id="nav-menu">
    <nav class="top-bar grid">
      <div class="left-panel">
        <div>
          <a>Code by Roger</a>
        </div>
      </div>

      <div class="mid-gap-border"></div>

      <div class="right-panel">
        <div>
          <ul class="laptop__mini-nav">
            <a>Home</a>
            <a>About</a>
            <a>Work</a>
          </ul>

          <div class="menu-btn">
            <div class="menu-icon"></div>
            <input type="checkbox" id="menu-input" />
          </div>
        </div>
      </div>
    </nav>

    <div class="menu-content grid">
      <div class="left-panel">
        <div>
          <!-- TODO: PHP optimize -->
          <ol class="btns-list">
            <button>
              <div class="link">
                <div class="title">
                  <p>01</p>
                  <h1>Home</h1>
                </div>

                <div class="arrow">
                  <svg viewBox="0 0 25 25">
                    <path
                      d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                    ></path>
                  </svg>
                </div>
              </div>

              <div class="hovered"></div>
            </button>

            <button>
              <div class="link">
                <div class="title">
                  <p>02</p>
                  <h1>About</h1>
                </div>

                <div class="arrow">
                  <svg viewBox="0 0 25 25">
                    <path
                      d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                    ></path>
                  </svg>
                </div>
              </div>

              <div class="hovered"></div>
            </button>

            <button>
              <div class="link">
                <div class="title">
                  <p>03</p>
                  <h1>Work</h1>
                </div>

                <div class="arrow">
                  <svg viewBox="0 0 25 25">
                    <path
                      d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                    ></path>
                  </svg>
                </div>
              </div>

              <div class="hovered"></div>
            </button>

            <button>
              <div class="link">
                <div class="title">
                  <p>04</p>
                  <h1>Posts</h1>
                </div>

                <div class="arrow">
                  <svg viewBox="0 0 25 25">
                    <path
                      d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                    ></path>
                  </svg>
                </div>
              </div>

              <div class="hovered"></div>
            </button>

            <button>
              <div class="link">
                <div class="title">
                  <p>05</p>
                  <h1>Photos</h1>
                </div>

                <div class="arrow">
                  <svg viewBox="0 0 25 25">
                    <path
                      d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                    ></path>
                  </svg>
                </div>
              </div>

              <div class="hovered"></div>
            </button>

            <button>
              <div class="link">
                <div class="title">
                  <p>06</p>
                  <h1>Globe</h1>
                </div>

                <div class="arrow">
                  <svg viewBox="0 0 25 25">
                    <path
                      d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                    ></path>
                  </svg>
                </div>
              </div>

              <div class="hovered"></div>
            </button>
          </ol>
        </div>
      </div>

      <div class="right-panel">
        <div>
          <div>
            <div class="notice">
              <span>Designer and Developer</span>
              <p>Future Entrepreneur</p>
            </div>

            <div class="bottom-links">
              <div class="links">
                <p>Links</p>

                <ul>
                  <a>Imprint</a>
                  <a>Colphon</a>
                  <a>Privacy</a>
                  <a>Contact</a>
                </ul>
              </div>

              <ul class="socials">
                <a></a>

                <a></a>

                <a></a>
              </ul>
            </div>
          </div>

          <div class="my-name">
            <h5 class="pixel">ROGER</h5>
            <h5>Rovira</h5>
          </div>

          <div class="image-container"></div>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascript/reuse/navigation.js"></script>
</nav>
