@layer general-variables {
  :root {
    --max-width: 1642px;
    --grid-gap: 16px;
  }

  @media (min-width: 768px) {
    :root {
      --borders-pad: 32px;
    }
  }

  @media (max-width: 768px) {
    :root {
      --borders-pad: 24px;
    }
  }
}

/* TODO */
@layer scrollbar {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 100px;
  }

  [theme='light'] :hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
  }

  [theme='light'] ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  [theme='dark'] :hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }

  [theme='dark'] ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

/* TODO */
@layer selection {
  [theme='light'] ::selection {
    background: #ebfef3;
    color: #28b460;
  }

  [theme='dark'] ::selection {
    background: #073018;
    color: #a5e6bf;
  }
}

@layer grids {
  .grid {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(18, minmax(0, 1fr));

    gap: var(--grid-gap);
  }
}

@layer components {
  body {
    margin: 0;
    background-color: var(--white);
  }

  main {
    min-height: 100vh;
  }

  main > * {
    padding-left: var(--borders-pad);
    padding-right: var(--borders-pad);
  }

  li {
    list-style: none;
  }
}
