@layer light-palette {
  :root {
    --white: white;
    --white-smoke: #e6e6e6;

    --gray: #8c8c8c;

    --black: black;
    --soft-black: #212121;
  }
}

/* TODO */
@layer dark-palette {
  [theme='dark'] {
    --white: white;
    --white-smoke: #e6e6e6;

    --gray: #8c8c8c;

    --black: black;
    --soft-black: #212121;
  }
}
