@layer fonts {
  @font-face {
    font-family: 'Mondwest';
    src: url('/assets/fonts/mondwest-regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'UntitledSans';
    src: url('/assets/fonts/untitled-sans-regular.otf') format('opentype');

    font-weight: 400;
  }

  @font-face {
    font-family: 'UntitledSans';
    src: url('/assets/fonts/untitled-sans-medium.otf') format('opentype');

    font-weight: 500;
  }
}

@layer font-styles {
  p,
  a,
  span,
  label,
  input,
  input::placeholder {
    font-style: normal;
    letter-spacing: -0.2px;

    font-weight: 400;
    color: var(--black);
    font-family: 'UntitledSans', sans-serif;

    margin: 0;
  }

  @media (min-width: 1080px) {
    p,
    a,
    span,
    label,
    input,
    input::placeholder {
      font-size: 1.375rem;
      line-height: 1.59;
    }
  }

  @media (min-width: 480px) and (max-width: 1080px) {
    p,
    a,
    span,
    label,
    input,
    input::placeholder {
      font-size: 0.88rem;
      line-height: 1.52;
    }
  }

  @media (max-width: 480px) {
    p,
    a,
    span,
    label,
    input,
    input::placeholder {
      font-size: 0.82rem;
      line-height: 1.48;
    }
  }

  .pixel {
    font-family: Mondwest !important;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }
}

@layer headings {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-style: normal;
    font-family: 'UntitledSans', sans-serif;
  }

  h1 {
    font-weight: 500;
    color: var(--black);

    word-spacing: 0.06em;
    letter-spacing: -0.6px;
  }

  @media (min-width: 1080px) {
    h1 {
      font-size: 3rem;
      line-height: 1.16;
    }
  }

  @media (min-width: 480px) and (max-width: 1080px) {
    h1 {
      font-size: 2.1rem;
      line-height: 1.16;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.76rem;
      line-height: 1.06;
    }
  }
}
