@layer fonts {
  @font-face {
    font-family: 'Mondwest';
    src: url('/assets/fonts/mondwest-regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'UntitledSans';
    src: url('/assets/fonts/untitled-sans-regular.otf') format('opentype');

    font-weight: 400;
  }

  @font-face {
    font-family: 'UntitledSans';
    src: url('/assets/fonts/untitled-sans-medium.otf') format('opentype');

    font-weight: 500;
  }
}

@layer font-styles {
  p,
  a,
  span,
  label,
  input,
  input::placeholder {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-style: normal;
    color: var(--black);
    letter-spacing: -0.2px;
    font-family: 'UntitledSans';
  }

  @media (min-width: 1080px) {
    p,
    a,
    span,
    label,
    input,
    input::placeholder {
      font-size: 1.375rem;
      line-height: 1.59;
    }
  }

  @media (min-width: 480px) and (max-width: 1080px) {
    p,
    a,
    span,
    label,
    input,
    input::placeholder {
      font-size: 0.88rem;
      line-height: 1.52;
    }
  }

  @media (max-width: 480px) {
    p,
    a,
    span,
    label,
    input,
    input::placeholder {
      font-size: 0.82rem;
      line-height: 1.48;
    }
  }

  .pixel {
    font-family: Mondwest !important;
  }
}

@layer headings {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;

    font-style: normal;
    font-family: 'UntitledSans';
  }

  h1 {
    font-weight: 400;
    color: var(--black);
  }

  @media (min-width: 1080px) {
    h1 {
      font-size: 4rem;
      line-height: 1;
    }
  }

  /* TODO */
  @media (min-width: 480px) and (max-width: 1080px) {
  }

  /* TODO */
  @media (max-width: 480px) {
  }

  h5 {
    font-weight: 400;
    color: var(--black);
  }

  @media (min-width: 1080px) {
    h5 {
      line-height: 0.96;
    }

    h5:not(.pixel) {
      font-size: 11rem;
    }

    h5.pixel {
      font-size: 11.8rem;
    }
  }

  /* TODO */
  @media (min-width: 480px) and (max-width: 1080px) {
  }

  /* TODO */
  @media (max-width: 480px) {
  }
}
