@layer navigation-menu {
  #nav-menu {
    --bar-height: 51px;
  }

  /* TODO */
  #nav-menu.menu__opened ~ body {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #nav-menu .top-bar {
    transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  /* TODO */
  #nav-menu.footer-detected .top-bar {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  @layer top-bar {
    .top-bar {
      z-index: 999;

      width: 100%;
      height: var(--bar-height);

      position: fixed;
      position: -webkit-fixed;
      top: 0;
    }

    .top-bar p,
    .top-bar a {
      font-size: 0.86rem;
    }

    .top-bar a {
      color: var(--gray);
      letter-spacing: 0.03em;

      transition: all 0.3s ease-in-out;
    }

    .top-bar a:hover {
      color: var(--black);
    }

    .top-bar .left-panel,
    .top-bar .right-panel {
      display: flex;
      align-items: center;

      width: 100%;
      height: 100%;
    }

    .top-bar > * > div {
      width: 100%;
      max-width: calc(var(--max-width) / 2 - var(--grid-gap) / 2);
    }

    @layer left-panel {
      .top-bar .left-panel {
        grid-column: 1 / 10;
      }

      #nav-menu:not(.menu__opened) .top-bar .left-panel {
        background-color: var(--white);
        border-bottom: 1px solid var(--clr-line-1);
      }

      #nav-menu.menu__opened .top-bar .left-panel {
        background-color: var(--black);
        border-bottom: 1px solid var(--clr-line-2);
      }

      .top-bar .left-panel > div {
        margin-left: auto;
        padding-left: var(--borders-pad);
      }

      #nav-menu.menu__opened .top-bar .left-panel a {
        color: var(--soft-black) !important;
      }

      #nav-menu.menu__opened .top-bar .left-panel a:hover {
        color: var(--white) !important;
      }
    }

    @layer mid-gap-border {
      .mid-gap-border {
        height: 100%;
        width: var(--grid-gap);

        position: absolute;
        right: calc(50% - var(--grid-gap) / 2);

        background-color: var(--white);
        border-bottom: 1px solid var(--clr-line-1);
      }
    }

    @layer right-panel {
      .top-bar .right-panel {
        grid-column: 10 / -1;

        background-color: var(--white);
        border-bottom: 1px solid var(--clr-line-1);
      }

      .top-bar .right-panel > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding-right: var(--borders-pad);
      }

      @layer laptop-mini-nav {
        .laptop__mini-nav {
          display: flex;
          gap: 20px;

          padding: 0;
          margin: 0;

          opacity: 1;
        }

        #nav-menu.menu__opened .laptop__mini-nav {
          opacity: 0;
        }

        @media (max-width: 1080px) {
          .laptop__mini-nav {
            display: none !important;
          }
        }
      }

      @layer menu-button {
        .menu-btn {
          width: 24px;
          padding: 12px 0;
          position: relative;
        }

        @layer icon {
          .menu-icon {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 9px;
          }

          #nav-menu.menu__opened .menu-icon {
            height: 2px;
          }

          .menu-icon::before,
          .menu-icon::after {
            content: '';

            width: 100%;
            height: 2px;

            transform: rotate(0);
            transition: all 0.2s;
            background-color: var(--black);
          }

          #nav-menu.menu__opened .menu-icon::before {
            margin-bottom: -2px;
            transform: rotate(-45deg);
          }

          #nav-menu.menu__opened .menu-icon::after {
            margin-top: -2px;
            transform: rotate(45deg);
          }
        }

        @layer input {
          .menu-btn #menu-input {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;

            opacity: 0;
            cursor: pointer;
          }
        }
      }
    }
  }

  @layer menu-content {
    .menu-content {
      z-index: 50;

      position: fixed;
      top: -100%;
      bottom: auto;
      left: 0%;
      right: 0%;

      width: 100%;
      height: 100vh;

      opacity: 0;
      transition: all 0.32s;
    }

    #nav-menu.menu__opened .menu-content {
      top: 0;
      opacity: 1;
    }

    .menu-content .left-panel,
    .menu-content .right-panel {
      width: 100%;
      height: 100%;
    }

    .menu-content > * > div {
      padding-top: var(--bar-height);
      height: calc(100% - var(--bar-height) * 2);
    }

    @layer left-panel {
      .menu-content .left-panel {
        grid-column: 1 / 10;
        background-color: var(--black);
      }

      .menu-content .left-panel > div {
        padding-left: var(--borders-pad);
        border-bottom: 1px solid var(--clr-line-2);
      }

      @layer buttons-list {
        .btns-list {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          height: 100%;
        }

        .btns-list button {
          height: 100%;

          padding: 0;
          margin-top: 4px;

          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid var(--soft-black);

          background: transparent;
        }

        @layer link {
          .btns-list button .link {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }

          @layer title {
            .btns-list button .link .title {
              display: flex;
              flex-direction: row;
              align-items: flex-start;

              gap: 56px;
            }

            .btns-list button .link .title p {
              font-size: 1.64rem;
              text-align: start;
              color: var(--soft-black);
            }

            .btns-list button .link .title h1 {
              color: var(--white);
              padding-top: 12px;
            }
          }

          @layer arrow {
            .btns-list button .link .arrow {
              display: flex;
              align-items: center;
              justify-content: center;

              width: 68px;
              height: 68px;
              margin-right: 32px;

              border-radius: 100px;
              border: 2px solid var(--clr-line-2);
            }

            .btns-list button .link .arrow svg {
              width: 26px;
              height: 26px;
            }

            .btns-list button .link .arrow svg path {
              fill: none;
              stroke-width: 1;
              stroke: var(--clr-line-2);
            }
          }
        }

        @layer hovered {
        }
      }
    }

    @layer right-panel {
      .menu-content .right-panel {
        grid-column: 10 / -1;
        background-color: var(--white);
      }

      .menu-content .right-panel > div {
        padding-right: var(--borders-pad);
        border-bottom: 1px solid var(--clr-line-1);
      }
    }
  }
}
