@layer navigation-menu {
  /* TODO */
  #navigation-menu.menu__opened ~ body {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #navigation-menu .top-bar {
    transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  /* TODO */
  #navigation-menu.footer-detected .top-bar {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  @layer top-bar {
    .top-bar {
      z-index: 999;

      height: 51px;
      max-width: inherit;
      width: calc(100% - var(--borders-pad) * 2);

      position: fixed;
      position: -webkit-fixed;
      top: 0;

      padding-left: var(--borders-pad);
      padding-right: var(--borders-pad);

      background-color: var(--white);
      border-bottom: 1px solid var(--white-smoke);
    }

    .top-bar p,
    .top-bar a {
      font-size: 0.86rem;
    }

    .top-bar > .grid {
      height: 100%;
      max-width: var(--max-width);

      border-right: inherit;
      border-left: inherit;

      margin: 0 auto;
    }

    @layer code-by {
      .code-by {
        grid-column: span 1 / span 9;
        grid-column-start: 1;
        width: 100%;
      }
    }

    @layer laptop-mini-navigation {
      .laptop__mini-nav {
        grid-column: span 1 / span 4;
        grid-column-start: 10;

        display: flex;
        gap: 12px;

        padding: 0;
        margin: 0;

        opacity: 1;
      }

      #navigation-menu.menu__opened .laptop__mini-nav {
        opacity: 0;
      }

      @media (max-width: 1080px) {
        .laptop__mini-nav {
          display: none !important;
        }
      }

      .laptop__mini-nav a {
        color: var(--gray);
        letter-spacing: 0.03em !important;

        transition: all 0.3s ease-in-out;
      }

      .laptop__mini-nav a:hover {
        color: var(--black);
      }
    }

    @layer menu-button {
      .menu-btn {
        grid-column: span 1 / span 1;
        grid-column-start: 18;
        justify-self: end;

        width: 24px;
        padding: 12px 0;
        position: relative;
      }

      @media (min-width: 1080px) {
        .top-bar .mobile__menu-btn {
          display: none !important;
        }
      }

      .menu-btn #menu-input {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        opacity: 0;
        cursor: pointer;
      }

      @layer menu-icon {
        .menu-icon {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          height: 9px;
        }

        #navigation-menu.menu__opened .menu-icon {
          height: 2px;
        }

        .menu-icon > div {
          width: 100%;
          height: 2px;

          transform: rotate(0);
          transition: all 0.2s;
          background-color: var(--black);
        }

        #navigation-menu.menu__opened .menu-icon > div:first-child {
          margin-bottom: -2px;
          transform: rotate(-45deg);
        }

        #navigation-menu.menu__opened .menu-icon > div:last-child {
          margin-top: -2px;
          transform: rotate(45deg);
        }
      }
    }
  }

  @layer menu-content {
    .menu-content {
      z-index: 50;

      display: block;
      position: fixed;
      top: -100%;
      bottom: auto;
      left: 0%;
      right: 0%;

      width: 100%;
      height: 100vh;

      opacity: 0;
      transition: all 0.32s;
    }

    #navigation-menu.menu__opened .menu-content {
      top: 0;
      opacity: 1;
    }

    .menu-content .panel-left {
      grid-column: span 1 / span 9;
      grid-column-start: 1;

      width: 100%;
      height: 100%;
      padding-left: var(--borders-pad);

      background-color: var(--black);
    }

    .menu-content .panel-right {
      padding-right: var(--borders-pad);

      background-color: var(--white);
    }
  }
}
